@use "@/styles/abstracts/variables" as *;

body {
  background: var(--clr-neutral-50);
  color: var(--clr-neutral-500);
}

.main-container {
    overflow: hidden; // Disable scrolling by default
    height: calc(var(--vh, 1vh) * 98);
    display: grid;
    grid-template-columns: auto;
    column-gap: 0.5rem;
    background-color: var(--clr-primary-100);
}
